#dashboardcontainer {
    width: 70%;
    height: 100%;
    float: right;
    order: 2;
    margin: 10px;
}

#dashboardwindow {
    width: 100%;
    height: 100%;
}

#dashboardhome {
    width: 100%;
    height: 100%;
    display: flex;
}