#dashboardcontainer {
    width: 70%;
    height: 100%;
    float: right;
    order: 2;
    margin: 10px;
}

#dashboardhome {
    width: 100%;
    height: 100%;
}

#timeandweather {
    display: flex;
    height: auto;
    position: relative;
}

#nontimeandweather {
    display: flex;
    position: relative;
}

#homeleft {
    display: flex;
    flex-direction: column;
    width: 420px;
}

#calendar {
    padding-top: 10px;
    width: 400px;
    height: 550px;
    border: none;
}

#homeright {
    width: 520px;
}