#mi {
  display: none
}

#datetimecontainer {
    width: 400px;
    height: 150px;
    display: flex;
    margin: 10px;
}

#datetime {
    float: right;
    width: 250px;
    height: 150px;
    font-size: 40px;
}

#clockcontainer {
    width: 130px;
    height: 130px;
    float: left;
    position: relative;
    margin: 10px;
    font-size: 10px;
    display:flex;
}

.clock {
    width: 100px;
    height: 100px;
    border:3px solid white;
    border-radius:50%;
    position: relative;
    box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100px;
    height: 100px;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height:4px;
    background:black;
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
    background: red
}

.min-hand {
    background: black;
}

.hour-hand {
    background: gray;
}