$clock-size: 65px;

#timecontainer {
    width: 420px;
    height: 80px;
    display: flex;
    position: relative;
    left: 5px;
}

#clockcontainer {
    width: $clock-size;
    height: $clock-size;
    float: left;
    position: relative;
    margin: 10px;
    font-size: 10px;
    display:flex;
}

#time {
    position: relative;
    font-size: 75px;
    bottom: 9px;
}

.clock {
    width: $clock-size;
    height: $clock-size;
    border:3px solid white;
    border-radius:50%;
    position: relative;
    box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #333333,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: $clock-size;
    height: $clock-size;
    transform: translateY(-3px) translateX(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height:3px;
    background:black;
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
    background: red
}

.min-hand {
    background: white;
}

.hour-hand {
    background: rgb(150, 146, 146);
}