#todolistcontainer {
    width: 30%;
    height: 100%;
    float: left;
    order: 1;
    margin: 10px;
    display: table;
}

#addtodobar {
    padding-bottom: 10px;
}

#todoinput {
    width:313px;
}

#addtodobutton {
    display: none;
}

.todoentry {
    border: 1px dashed gray;
    padding: 0.5rem;
    margin-bottom: .5rem;
    background-color: white;
}
/* Close Button */
.x {
  float: right;
  border: 1px solid transparent;
  font-size: 22
}

.complete {
    text-decoration: line-through;
    color: gray
}

