$background-color: #212121;

#todolistquotecontainer {
  width: 440px;
  min-width: 440px;
}

#todolistcontainer {
  width: 420px;
  min-width: 420px;
  height: 100%;
  order: 1;
  margin-top: 15px;
  margin-left: 20px;
  display: inline-block;
  max-height: 300px;
}

#addtodobar {
  padding-bottom: 3px;
  width: 420px;
  max-width: 435px;
  font-size: 16px;
}

#todoinput {
  width: 330px;
  float: right;
}

#addtodobutton {
  display: none;
}

#addtodotext {
  display: inline;
  font-size: 15px;
  text-align: center;
}

#todolistboard {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  max-height: 240px;
}

.todoentry {
  padding: 0.3rem;
  margin-bottom: .2rem;
  background-color: $background-color;
  cursor: pointer;
  font-size: 16px;
  display: flex;
}

.checkboxtodotext {
    width: 99%;
}

.complete {
    text-decoration: line-through;
    color: rgb(25, 243, 61);
}

/* Close Button */
.x {
  float: right;
  font-size: 16px;
  color: rgb(88, 88, 88);
  background-color: $background-color;
  border-color: $background-color;
}

.x:hover {
  color: rgb(195, 0, 255);
  transition: 250ms;
}

// ANIMATED CHECKBOXES

section{
  display: flex;
  flex-direction: column;
}

input[type='checkbox']{ height: 0; width: 0; display: none;}

input[type='checkbox'] + label{
  position: relative;
  display: flex;
  align-items: center;
  color: #ffffff;
  transition: color 250ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox'] + label > ins{
  position: absolute;
  display: block;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 90%;
  overflow: hidden;
  text-decoration: none;
  transition: height 300ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox'] + label > ins > i{
  position: absolute;
  bottom: 0;
  font-style: normal;
  color: rgb(78, 250, 87);
}
input[type='checkbox'] + label > span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #9E9E9E;
  border-radius: 2px;
  cursor: pointer;  
  transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label{
  color: rgb(168, 247, 168);
}
input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
  background: rgba(255,255,255,.1);
}
input[type='checkbox']:checked + label > ins{ height: 100%; }

input[type='checkbox']:checked + label > span{
  border: .5em solid rgb(25, 243, 61);
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox']:checked + label > span:before{
  content: "";
  position: absolute;
  top: .6em;
  left: .2em;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: .2em;
    height: .5em;    
    border-color: #212121;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}

#jung {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 384px;
    height: 216px;
}