#twitterfeed {
    position: relative;
    width: 560px;
    height: 390px;
    font-family: Helvetica, Arial, Sans-serif
}

#twittertopbar {
    position: relative;
    background-color: #1DA1F2; 
    height: 24px;
    width: 560px;
    font-size: 14px;
}

#twitterfeedlist {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    overflow: auto;
    width: 560px;
    max-height: 366px;
}

#twit {
    position: relative;
    height: 20px;
    width: 20px;
    margin-left: 3px;
    top: 2px;
    border: solid white 1px;
}

#twitter {
    position: relative;
    bottom: 3px;
    padding-left: 5px;
    padding-right: 10px;
}