#twitterfeed {
    position: relative;
    width: 560px;
    height: 408px;
    font-family: Helvetica, Arial, Sans-serif;
    bottom: 26px;
}

#twittertopbar {
    position: relative;
    background-color: #1DA1F2; 
    height: 24px;
    width: 560px;
    font-size: 14px;
}

#twitterfeedlist {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    overflow: auto;
    width: 560px;
    max-height: 384px;
    font-size: 14px;
    border: 1px solid rgb(46, 46, 46);
}

#twit {
    position: relative;
    height: 20px;
    width: 20px;
    margin-left: 3px;
    top: 2px;
    border: solid white 1px;
}

#twitter {
    position: relative;
    bottom: 3px;
    padding-left: 5px;
    padding-right: 10px;
}

.twitterfeeditem {
    border-top: 1px solid rgb(46, 46, 46);
    border-right: 1px solid rgb(46, 46, 46);
    padding: 5px;
}

.twitterfeeditem:hover {
    cursor: pointer;
    background-color: #282828;
}

.tweet {
    display: flex;
    padding-top: 5px;
}

.retweet {
    position: relative;
    top: 4px;
    height: 18px;
    width: 18px;
    margin-left: 25px;
}

.retweetedby {
    color: gray;
    padding-left: 4px;
}

.twitteruserpic {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-right: 5px;
}

.tweetcontainer {
    display: flex;
    flex-direction: column;
}

.twitteruserid {
    display: flex;
}

.twitteruser {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.twitteruser:visited {
    color: white;
}

.twitteruser:hover {
    color: #1DA1F2;
    text-decoration: underline;
}

.userverified {
    position: relative;
    top: 1px;
    height: 14px;
    width: 14px;
    margin-left: 5px;
}

.twitterusername {
    margin-left: 5px;
}

.twitterhandle {
    color: #1DA1F2;
    padding-left: 7px;
    text-decoration: none;
}

.twitterhandle:visited {
    color: #1DA1F2;
}

.twitterhandle:hover {
    text-decoration: underline;
}

.likesbar {
    display: flex;
    color: #808080
}

.tweeterror {
    color: gray;
}

.tweetquote {
    border: 1px solid rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
}

.tweetquote:hover {
    border: 1px solid rgb(70, 70, 70);
}

.quoteduser {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.likesbar {
    padding-top: 5px;
    display: flex;
}

.likescount {
    width: 95px;
    display: flex;
}

.retweetscount {
    display: flex;
}

.likesheart {
    position: relative;
    top: 1px;
    width: 15px;
    height: 15px;
}

.retweeticon {
    position: relative;
    bottom: 1px;
    width: 20px;
    height: 20px;
}

.likesbarnum {
    padding-left: 5px;
}