$background-color: #212121;

#weatherwidget {
    margin-top: 10px;
}

#weathercurrentbox {
    width: 100%;
    display: flex;
}

#currentweathericon {
    width: 90px;
    height: 90px;
    padding-right: 10px;
    padding-top: 10px;
}

#currenttempsummary {
    font-size: 40px;
}

#currenthighlow {
    font-size: 18px;
}

#currentcity {
    font-size: 22px;
}

#weatherhourlycontainer {
    padding-top: 5px;
}

#weatherhourlysummary {
    font-size: 14px;
}

#weatherhourlyscrollbox {
    overflow: auto;
    white-space: nowrap;
    width: 440px;
}

.weatherhourlyentry {
    display: inline-block;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $background-color; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 68, 68); 
}