$background-color: #212121;

#weatherwidget {
    margin-top: 10px;
    font-size: 15px;
    display: block;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.forecast > li {
    position: relative;
    margin: 5px;
}

.forecast > li:hover {
    background-color: #292929;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    will-change: opacity;
}

.trigger-enter .dropdown {
    display: block;
    opacity: 1;
}

.trigger-enter-active .dropdown {
    opacity: 1;
}

.dropdownbackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #292929;
    border-radius: 4px;
    transition:all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity:0;
}

.dropdownbackground.open {
    opacity: 1;
}

#weathercurrentbox {
    width: 100%;
    display: flex;
}

#currentweathericon {
    width: 90px;
    height: 90px;
    padding-right: 10px;
    padding-top: 15px;
}

#currenttempsummary {
    font-size: 40px;
}

#currenthighlow {
    font-size: 18px;
}

#currentcity {
    font-size: 22px;
}

#weatherhourlycontainer {
    padding: 10px;
    animation: fadein 800ms;
    -webkit-animation: fadein 800ms; /* Safari and Chrome */
}

#weatherhourlysummary {
    font-size: 15px;
    padding-bottom: 5px;
}

#weatherhourlyscrollbox {
    overflow: auto;
    white-space: nowrap;
    width: 440px;
}

.grabscrollactive {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.weatherhourlyentry {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    padding-right: 20px;
}

.weatherhourlytime {
    font-size: 13px;
}

.weatherhourlytemp {
    font-size: 17px;
    padding-bottom: 5px;
}

#weatherdailycontainer {
    width: 350px;
    padding: 10px;
    animation: fadein 800ms;
    -webkit-animation: fadein 800ms; /* Safari and Chrome */
}

#weatherdailysummary {
    font-size: 15px;
}

#weatherdailyforecast {
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}

.weatherdailyentry {
    display: table-row;
}

.weatherdailyweekday {
    display: table-cell;
}

.weatherdailyicon {
    display: table-cell;
    padding-right: 20px;
    padding-left: 30px;
    position: relative;
    top: 8px;
}

.weatherdailyhigh {
    display: table-cell;
    padding-right: 15px;
    padding-left: 15px;
}

.weatherdailylow {
    color: gray;
    display: table-cell;
    padding-right: 15px;
    padding-left: 15px;
}