@import 'ToDoList';
@import 'DateTime';
@import 'Weather';
@import 'HNFeed';
@import 'TwitterFeed';

$background-color: #212121;

html, body, #app {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#appcontainer {
    width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
}

*{ box-sizing: border-box; user-select: none; }

body{
  background: $background-color;
  justify-content: center;
  align-items: center;
  font: 24px/1.4 "RobotoDraft", sans-serif;
  color: #fff;
}

#leftsidecontainer {
  width: 440px;
  min-width: 440px;
}

#rightsidecontainer {
    width: 70%;
    height: 100%;
    float: right;
    order: 2;
    margin: 10px;
}

#timeandweathercontainer{
    display: flex;
    height: auto;
    position: relative;
    min-width: 970px;
}

#calendarandfeedscontainer {
    display: flex;
    min-width: 940px;
    position: relative;
    bottom: 55px;
}

#calendartradingviewcontainer {
    width: 420px;
    height: 100%;
}

#calendarcontainer {
    width: 420px;

}

#calendar {
    width: 391px;
    height: 290px;
    border: none;
    background: white;
}

#tradingviewcontainer {
    width: 391px;
    height: 350px;
    position: relative;
    bottom: 14px;
    background: white;
}

#feedscontainer {
    width: 560px;
    height: 590px;
    position: relative;
    top: 40px;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

// SCROLL BARS
/* width */
::-webkit-scrollbar {
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $background-color; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 68, 68); 
}