@import 'ToDoList';
@import 'DateTime';
@import 'Dashboard';
@import 'Weather';

html, body, #app {
    margin: 0;
    height: 99%;
}

#appcontainer {
    width: 100%;
    height: 100%;
    display: flex;
}